# --- [1] Modules & Prompt / 核心与主题 ---
zmodule input                                      # Enhanced input / 输入增强
zmodule fzf                                        # Fzf
zmodule hu3rror/zim-zoxide                         # zoxide
zmodule hu3rror/zim-mise                           # mise
zmodule romkatv/powerlevel10k --use degit          # Prompt theme / 命令提示符主题


# --- [2] Completion Sources / 补全库 ---
zmodule zsh-users/zsh-completions --fpath src      # Additional completion definitions / 补充补全定义


# --- [3] Completion Initialization / 补全初始化 ---
zmodule completion                                 # Initialize completion system (compinit) / 初始化补全系统


# --- [4] Completion UI / 补全界面 ---
zmodule Aloxaf/fzf-tab                             # Fuzzy completion UI (requires compinit) / 模糊补全界面（依赖 compinit）


# --- [5] ZLE Enhancements / ZLE交互增强 ---
zmodule zsh-users/zsh-autosuggestions               # Command autosuggestions / 命令自动建议
#zmodule zsh-users/zsh-history-substring-search     # History substring search / 历史命令搜索 (性能大户)


# --- [6] Syntax Highlighting / 语法高亮 ---
zmodule zsh-users/zsh-syntax-highlighting           # Syntax highlighting (load last) / 语法高亮（最后加载）